Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.log
Saved/Logs/Level_Design_S2_WB.log
Project_Wendigo/READ ME.txt
Project_Wendigo/s18042223_s1704787_Project_Wendigo.part1.rar
Project_Wendigo/s18042223_s1704787_Project_Wendigo.part2.rar
Project_Wendigo/s18042223_s1704787_Project_Wendigo.part3.rar
Project_Wendigo/WindowsNoEditor/Engine/Extras/Redist/en-us/UE4PrereqSetup_x64.exe
Project_Wendigo/WindowsNoEditor/Level_Design_S2_WB.exe
Project_Wendigo/WindowsNoEditor/Level_Design_S2_WB/Content/Paks/Level_Design_S2_WB-WindowsNoEditor.pak
Project_Wendigo/WindowsNoEditor/Manifest_NonUFSFiles_Win64.txt
Saved/Logs/Level_Design_S2_WB.log
